*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

[data-ds-type="Row"] {
  display: flex;
}

[data-ds-type="Column"] {
  padding: 15px;
}

.ds-editor-body {
  position: relative;
}

.ds-high_light-box {
  visibility: visible;
  position: absolute;
  pointer-events: none;

  border: 2px dashed black;

  width: 0px;
  height: 0px;
}
