@{
    ViewData["Title"] = "Canvas";
}

<div>
    <h1>CANVAS</h1>

    <script>

        const id_user = window.location.search.split("user=")[1]

        localStorage.setItem('id_user', id_user)

    </script>
</div>
