* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

p {
  color: red;
}

.absolute {
  position: absolute;
}

.rectangle {
  /* background-color: red; */
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.circle {
  border-radius: 50%;
}

.heart {
  width: 100px;
  height: 100px;
  background-color: red; /* Adjust the color as needed */
  transform: rotate(-45deg);
  margin: 50px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red; /* Adjust the color as needed */
  border-radius: 50%;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 50px;
}

.el-hover:hover {
  /* border: 3px dashed rgb(229, 18, 187); */
}

#ds-selection {
  z-index: -1;
}
