:root {
  --left-sidebar-width: 59px;
  --right-sidebar-width: 300px;
}

.h-100 {
  height: 100%;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page-editor {
  position: relative;
  flex: 1 1 0%;
}

.page-editor-layout {
  height: 100%;
  display: grid;
  grid-template-columns: var(--left-sidebar-width) auto var(
      --right-sidebar-width
    );
}

.page-outline-drawer {
  position: relative;
  width: 300px;
}

.editor {
  flex: 1 1 0%;
  width: 0px;
  background: var(--p-color-bg);
}

.inspector {
}

.element-catalog {
  cursor: pointer;
}

.element-catalog:hover {
  background-color: var(--p-color-bg);
}

.Polaris-Icon-Custom .Polaris-Icon {
  margin: 0 0 !important;
  width: 40px;
  height: 40px;
}

.ds-input_field .Polaris-TextField__Spinner {
  display: none;
}

.ds-button_toggle {
  width: 100%;
}

.ds-button_toggle > .Polaris-Button--iconOnly.Polaris-Button--variantTertiary {
  margin: 0 !important;
}

.ds-button_toggle > button:not(.Polaris-Button--variantTertiary) {
  box-shadow: var(--p-shadow-200);
}

.ds-button_toggle > button:hover {
  background-color: var(--p-color-bg-surface);
  box-shadow: var(--p-shadow-200);
}

.ds-button_toggle > button.Polaris-Button--variantTertiary:hover {
  background-color: #f7f7f7;
  box-shadow: unset;
}

.ds-button_toggle.ds-button-disabled {
  cursor: not-allowed;
}

.ds-button_toggle:not(.ds-button-disabled) svg > path {
  fill: #4a4a4a !important;
}

.ds-button-select {
  cursor: pointer;
}

.ds-button-select .Polaris-Icon {
  margin: 0;
  width: 1.1rem;
  height: 1.1rem;
}
